<div class="welcome">
  Добро пожаловать<br>
  Мы тебя ждали
</div>

<img class="hand" src="/assets/hand.png" alt="hand">

<div class="finger _1">
  <a routerLink="/spirit">
    Корпоративный<br>
    дух
  </a>
</div>

<div class="finger _2">
  <a routerLink="/about">
    О компании
  </a>

</div>

<div class="finger _3">
  <a routerLink="/docs">
    Нормативная<br>
    документация
  </a>

</div>

<div class="finger _4">
  <a routerLink="/security">
    Политика<br>
    безопасности
  </a>
</div>

<div class="finger _5">
  <a routerLink="/contacts">
    Контакты
  </a>
</div>

<div
  #catch
  class="catch"
>
  Лови волшебную<br>
  пятюню, она<br>
  поможет тебе стать<br>
  частью нашей<br>
  большой семьи
</div>
