@font-face {
  font-family: rosatom;
  src: url(../assets/Rosatom-Bold_W.woff) format("woff");
}

html, body {
  height: 100%;
}

body {
  background-color: #6CACE4;
  overflow: hidden;
  font-family: rosatom, sans-serif;
  color: #003274;
  font-size: xx-large;
}

.hand {
  position: absolute;

  bottom: -200px;
  left: calc(50% - 300px);
}

.hand__image {
  height: 850px;
  z-index: -1;
}

.rosatom {
  position: absolute;

  top: 20px;
  right: 20px;
}

.rosatom-image {
  height: 100px;
}

.welcome {
  position: absolute;
  left: calc(50% - 222px);

  text-align: center;
  font-weight: bold;

  font-size: xxx-large;
}

.finger {
  position: absolute;
  text-align: center;
  font-size: x-large;
  line-height: 24px;
}

._1 {
  top: calc(540px - 170px);
  left: calc(520px - 520px);
  transform: rotate(50deg);
}

._2 {
  top: 120px;
  left: 125px;
  transform: rotate(80deg);
}

._3 {
  top: 80px;
  left: 220px;
  transform: rotate(-85deg);
}

._4 {
  top: 110px;
  left: 315px;
  transform: rotate(-80deg);
}

._5 {
  top: 200px;
  left: 430px;
  transform: rotate(-70deg);
}

.catch {
  position: absolute;

  top: 150px;
  left: 150px;

  transition: transform 1s ease-in;
}

a:link {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

.tab {
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.tab__content {
  max-width: 800px;
}

.tab__content-title {
  font-size: xxx-large;
}
